@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-primary text-white
    }

    li {
        @apply p-6
    }

    button {
        @apply font-bold bg-secondary w-1/3 md:w-1/6 rounded-md bg-opacity-80 hover:bg-opacity-100
    }
    input {
        @apply w-full md:w-3/4 h-12 bg-primary bg-opacity-5 border-2 border-b-secondary border-x-0 border-t-0
    }

    textarea {
        @apply w-full md:w-3/4 bg-primary bg-opacity-5 border-2 border-b-secondary border-x-0 border-t-0
    }

}

